@model SoporteDteCore.Models.Soporte

@{
    ViewData["Title"] = "Eliminar";
}
    <div class="container-fluid">
        <h1 class="text-info">Finalizar</h1>

        <h3 class="text-danger">¿Seguro deseas finalizar este servicio?</h3>
        <div>
            <h4>Soporte</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FechaInicio)
                </dt>
                <dd class="col-sm-10">
                    @Model.FechaInicio.ToString("dd-MM-yyyy")
                </dd>
               
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.RutCliente)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.RutCliente)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.RazonSocialCliente)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.RazonSocialCliente)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Problema)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Problema)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Descripcion)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Descripcion)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ApplicationUser)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ApplicationUser.Nombre)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Finalizar" class="btn btn-danger" /> 
                <a asp-action="Index" class="btn btn-outline-dark">Volver</a>
            </form>
        </div>
    </div>