@model SoporteDteCore.Models.ViewModels.UserRolViewModel
@{
    ViewData["Title"] = "Delete";
}

<h3 class="text-danger">Eliminar usuario</h3>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.User.Nombre"></label>
                <input readonly asp-for="@Model.User.Nombre" class="form-control" />
                <span asp-validation-for="@Model.User.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.User.Email"></label>
                <input readonly asp-for="@Model.User.Email" class="form-control" />
                <span asp-validation-for="@Model.User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Rol"></label>
                <input disabled asp-for="@Model.Rol" class="form-control" />
                <span asp-validation-for="@Model.Rol" class="text-danger"></span>
            </div>
            <button type="submit" asp-route-id="@Model.User.Id" class="btn btn-outline-danger">Eliminar</button>
            <a class="btn btn-outline-warning" asp-action="Index">Volver</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}