@model SoporteDteCore.Models.InternalWorkOrder
@{
    ViewData["Title"] = "Create";
}

<h3 class="text-info">Crear Orden de trabajo interna</h3>
<hr />

<form method="post" asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <!--RUT Y NOMBRE-->
    <div class="row">
        <div class="form-group col-lg-6">
            <label asp-for="@Model.RutCliente" class="control-label"></label>
            <input asp-for="@Model.RutCliente" class="form-control" />
            <span asp-validation-for="@Model.RutCliente" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-6">
            <label asp-for="@Model.NombreCliente" class="control-label"></label>
            <input asp-for="@Model.NombreCliente" class="form-control" />
            <span asp-validation-for="@Model.NombreCliente" class="text-danger"></span>
        </div>
    </div>
    <!--FECHA INICIO/TERMINO-->
    <div class="row">
        <div class="form-group col-lg-6">
            <label asp-for="@Model.FechaInicio" class="control-label"></label>
            <input asp-for="@Model.FechaInicio" class="form-control" />
            <span asp-validation-for="@Model.FechaInicio" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-6">
            <label asp-for="@Model.FechaTermino" class="control-label"></label>
            <input asp-for="@Model.FechaTermino" class="form-control" />
            <span asp-validation-for="@Model.FechaTermino" class="text-danger"></span>
        </div>
    </div>
    <!--OBSERVACION INICIAL-->
    <div class="row">
        <div class="form-group col-lg-12">
            <label asp-for="@Model.Observacion" class="control-label"></label>
            <input asp-for="@Model.Observacion" class="form-control" />
            <span asp-validation-for="@Model.Observacion" class="text-danger"></span>
        </div>
    </div>
    <!--DESCRIPCIÓN-->
    <div class="row">
        <div class="form-group col-lg-12">
            <label asp-for="@Model.Descripcion" class="control-label"></label>
            <textarea asp-for="@Model.Descripcion" class="form-control"></textarea>
            <span asp-validation-for="@Model.Descripcion" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Crear" class="btn btn-outline-info col-sm-12 col-md-12 col-lg-2 col-xl-2" />
        <a class="btn btn-outline-dark col-sm-12 col-md-12 col-lg-2 col-xl-2" asp-action="Index">Volver a la lista</a>
    </div>
</form>